/* Home page image slider 

References:
https://www.youtube.com/watch?v=pGHOaY4dhAA&t=118s

*/

.slide-container{
    width: 80%;
    margin: 10px auto;
}

#slide {
    overflow: hidden;   
}

#slide figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slide infinite;
}
#slide figure img{
    width: 20%;
    float: left;
}

@keyframes slide{
    0%{
        left: 0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    
} 